@import '../../mixins.scss';

.converter {
  background-color: #fff;
  border: 1px solid transparent;

  @include OnDesktop {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
  }

  &__input-field {
    margin: 30px 20px;
    padding-bottom: 10px;
    border: 1px solid gray;
  }

  &__text {
    margin: 5px 20px;
    color: gray;
    font-size: 14px;
  }
}